.DS_Store
*.app
*.dll
*.exe
*.log
*_Data/
buildID*.txt
CSteamworks.*
PartDatabase.cfg
Physics.cfg
readme.txt
Screenshots/
settings.cfg
Ships/
thumbs/

# Ignore everything in GameData except the LowestBidder folder
GameData*
!GameData/LowestBidder
!GameData/LowestBidder/**

# Ignore everything in saves except vehicle files and persistent save game in LowestBidder folder
saves/*
!saves/LowestBidder
!saves/LowestBidder/Ships
!saves/LowestBidder/**.craft
saves/LowestBidder/Backup
saves/LowestBidder/Subassemblies
saves/LowestBidder/**/Auto-Saved\ Ship.craft
saves/LowestBidder/quicksave.sfs
